{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link href="//fonts.googleapis.com/css?Tangerine:bold,bolditalic|Inconsolata:italic|Droid+Sans" rel="stylesheet"
          type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
          integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/zenburn.css' %}">
</head>
<body>

<nav class="navbar navbar-expand-md navbar-light navbar-brand-center">
	<div class="container">
	<div class="navbar-header">
		<a href="{% url 'post_list' %}" class='navbar-brand'><h1><strong>Clever Programmer</strong></h1></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		{% if user.is_authenticated %}
		<p class="top-menu-hello">Hello, {{ user.username }}</p>
		</div>
		<div class="collapse navbar-collapse" id="navbarText">
			<ul class="navbar-nav ml-auto mt-2 mt-lg-0">
			
		 
			  <li class="nav-item">
				<a href="{% url 'post_new' %}" class="nav-link top-menu"><i class="fas fa-plus fa-2x"></i></a>
			  </li>
			  <li class="nav-item">
				<a href="{% url 'post_draft_list' %}" class="nav-link top-menu"><i class="fab fa-firstdraft fa-2x"></i></a>
			  </li>
			  <li class="nav-item">
				<a href="{% url 'logout' %}" class="btn btn-outline-success">Log out</a>
			  </li>
			  {% else %}
			  </div>
			  <div class="collapse navbar-collapse" id="navbarText">
				<ul class="navbar-nav ml-auto mt-2 mt-lg-0">
					<li class="nav-item">
						<a href="{% url 'login' %}" class="nav-link top-menu"><i class="fas fa-sign-in-alt fa-2x"></i></a>
					</li>
			  {% endif %}
			</ul>
		</div>
	</div>
</nav>

<div class="content container">
    <div class="row py-4">
		<div class="col-0 col-sm-1 col-md-2"></div>
        <div class="col-12 col-sm-10 col-md-8">

            {% block content %}
            {% endblock %}

        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote-bs4.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote-bs4.js"></script>
{% block javascript %}{% endblock %}
</body>
</html>
