.page-header {
    background-color: #ff9400;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a{
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

h1, h2, h3, h4 {
    font-family: 'Tangerine', 'Inconsolata', 'Droid Sans', serif;
}

.date {
    color: #828282;
}

.post {
    margin-bottom: 70px;
}


.post h1 a {
    color: #000000;
}

.post-form-blog textarea {
    width:100%;
}

.post-form-blog .btn-primary {
    float: right;
}

.top-menu, .top-menu:hover {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.comment {
    margin: 20px 0px 20px 20px;
    max-width: 600px;
    
}

.comment-input {
    max-height: 2rem;
    -webkit-transition: max-height .35s ease-in-out;
    transition: max-height .35s ease-in-out;
}

.comment-input:focus {
    max-height: 7rem;
}

.bg-light {
    max-width: 500px;
    border-radius: 4px;
}

img {
    display: block;
    max-width: 100%;
}