.navbar-header {
    float: left;
    text-align: center;
    width: 100%;
}

.top-menu-hello {
	float:left !important;
	margin-top: 10px;
	color: #03a87c;
    font-size: 16pt;
	
}

.content {
	margin-top:30px;
}


h1, h2, h3, h4 {
    font-family: 'Tangerine', 'Inconsolata', 'Droid Sans', serif;
}

.date {
    color: #828282;
}

.post {
    margin-bottom: 70px;
}


.post h1 a {
    color: #000000;
}

.post-form-blog textarea {
    width:100%;
}

.post-form-blog .btn-primary {
    float: right;
}

.top-menu, .top-menu:hover {
    color: #03a87c !important;
    float: right;
    font-size: 16pt;
    margin-right: 5px !important;
}


.comment {
    margin: 20px 0px 20px 20px;
    max-width: 600px;
    
}

.comment-input {
    max-height: 2rem;
    -webkit-transition: max-height .35s ease-in-out;
    transition: max-height .35s ease-in-out;
}

.comment-input:focus {
	max-height: 7rem;
}

.bg-light {
    max-width: 500px;
    border-radius: 4px;
}

img {
    display: block;
    max-width: 100%;
}

.waiting-approval, .waiting-approval .date {
	color:#C0C0C0 !important;
}
.fa-edit {
	color: #339af0
	transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.fa-edit:hover {
	
	color:#0a5fa6;
}

.navbar-toggler {
	float:right;
	margin-top: 10px;
}

.btn-outline-success {
	margin: 10px 10px;
	float:right;
}


@media screen and (max-width: 780px) {
  .top-menu-hello {
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;
  }
}

.note-editable b, .note-editable strong {
font-weight: bold;
}